body {
   background-color: rgba(143,130,121,1.00);
   background-image: 
   url(images/bg_005.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;
}

.lili{
   background-image: url(images/bg_02.png);
}

.class2 {
   width: 150px;
   height: 137px;
}

.class3 {
   flex-shrink: 10;
   width: 500px;
   height: 52px;
   margin-top: 77px;
}

.cp_hr01 {
   border-width: 1px 0 0 0;
   border-style: solid;
   border-color: rgb(221, 67, 6);
}

.table_wrapper1 {
   /* text-align: center; */
   /* border-bottom: 1px solid black; */
   /* border-spacing: 0; */
   /* display: flex; */
   /* justify-content: center; */
   /* flex-direction: row; */
   /* color: rgb(255, 0, 0); */
   width: 880px;
   height: 50px;
   margin: 0 auto;
   background-color: rgba(214,206,184,0.50);
   font-family: 'Noto Sans Japanese', "游ゴシック", YuGothic, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
   /* font-weight: 900px; */
   /* font-size: 120%; */
   font-style: normal;
   background-size: 100%;
   border-bottom: rgba(0,0,0,1.00) 1px solid;
   /* line-height: 1; */
}

.ponpon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 50px;
   margin: 0 auto;
   text-align: center;
   font-size: 120%;
   font-weight: 900;
   font-style: normal;
   line-height: 50px;
    
}

.toku a {
   display:block ;
   color: rgba(255,255,255,1.00);
   background-color: rgba(234,84,19,1.00);
   text-decoration: none;
   width: 293.33px;
   height: 50px;
}

.toku2 a {
   display:block ;
   color: rgba(78,54,17,0.60);
   background-color: rgba(239,240,242,1.00);
   text-decoration: none;
   width: 293.33px;
   height: 50px;
}

.table_wrapper2 {
   background-color: rgba(255,255,255,0.80);
   display: flex;
   justify-content: center;
   color: aliceblue;
   width: 880px;
   margin: 0 auto;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

}

.kio {
   display: flex;
   justify-content:space-between;
   margin: 0 auto;
   width: 63%;
}

.pati {
   width: 880px;
   height: 69.14px;
   /* position: relative; */
}

.series_head_second {
   /* display: flex;
   align-items: center;  */
   background-color: rgba(89,73,94,1.00);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom: 1px solid black;
   font-size: 30.72px;
   font-weight: 600;
   letter-spacing: 3px;
   color: rgba(255,255,255,1.00);
   text-align: right;
   /* text-size-adjust: 143px 37px; */
   padding: 10px 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
   width: 840px;
   /* height: 69.14px; */
   margin: 0 auto;
   margin-top: 23px;
   font-family: 'New Tegomin', serif;
}

.pen {
   font-size: 25.6px;
   width: 18.38px;
}

.rast {
   position: relative;
   top: 60px;
   width: 320px;
   height: 155px;
   margin: 0 auto;
}

#footer {
   width: 100%;
   height: 200px;
}

.twitter {
   width: 100px;
   height: 100px;
   position: relative;
   top: -6px;
   left: 40px;
}

.facebook {
   width: 120px;
   height: 70px;
   position: relative;
   top: -19px;
   left: -15px;
}

.line {
   width: 75px;
   height: 55px;
   position: relative;
   top: -28px;
   left: -58px;
}

.copyTop {
   text-align: center;
   color: rgba(255,255,255,1.00);
   font-size: 70%;
}

